map, h2, p {
    --spacing: 12px;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

img {
    image-rendering: pixelated;
}

.no-ai-ring {
    position: relative;
}

.no-ai-ring > a {
    display: block;
    position: absolute;
}

.no-ai-ring > img {
    width: 100%;
    height: 100%;
}

.bisexual-ring img {
    height: 65px;
}
