map, h2, p {
    --spacing: 12px;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

.ringimg {
    position: relative;
}

.ringimg > a {
    display: block;
    position: absolute;
}

.ringimg > img {
    width: 100%;
    height: 100%;
}
