map, h2, p {
    --spacing: 12px;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

img {
    image-rendering: pixelated;
}

.link-map {
    position: relative;
    width: 90%;
    height: 90%;
    margin: auto;
}

.link-map > a {
    display: block;
    position: absolute;
}

.link-map > img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
